@model GeoAdServer.Domain.Entities.DTOs.OfferingDTO

<h2>Modifica Offerta @ViewBag.Title</h2>

<div id="formNewOffer">

    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <p class="control-label">Nome</p>
            </div>
            <div class="col-md-10">
                <input type="text" id="offName" value="@Model.Name" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <p class="control-label">Descrizione</p>
            </div>
            <div class="col-md-10">
                <textarea id="offDesc" style="width:100%; resize:none;" rows="6" maxlength="@(System.Configuration.ConfigurationManager.AppSettings["maxOfferingDescriptionLength"])">@Model.Desc</textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <p class="control-label">Data Scadenza</p>
            </div>
            <div class="col-md-10">
                <input type="date" id="expDate" value="@{
                    var date = new DateTime(1970, 1, 1);
                    date = date.AddMilliseconds(Model.ExpDateMillis);
                    @Html.Raw(date.ToString("yyyy-MM-dd"))
                }" min="@(DateTime.Today.ToString("yyyy-MM-dd"))">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default btn-sm" onclick="updateOffer();">Salva Modifiche</button>
            </div>
        </div>
    </div>
</div>
<hr />
@Html.ActionLink("Annulla", "ManageOffers/" + Model.LocationId, null, new
{
    @class = "btn btn-default"
})

@section Scripts {
    <script type="text/javascript" src="~/Scripts/loginScript.js"></script>
    <script type="text/javascript">

        function updateOffer() {

            var date = new Date($("#expDate").val());
            var milliseconds = date.getTime();

            var obj = {
                "Name": $("#offName").val(),
                "LocationId": @Model.LocationId,
                "Desc": $("#offDesc").val(),
                "ExpDateMillis": milliseconds
            };

            $.ajax({
                url: '../../api/Offerings/' + @Model.Id,
                type: 'PUT',
                data: obj,
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + getToken()); },
                success: function (result) {
                    window.location.replace("../ManageOffers/" + @Model.LocationId);
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
        }
    </script>
}