@model GeoAdServer.Domain.Entities.DTOs.LocationDTO

@if (ViewBag.IsAdmin)
{
    <h2>Modifica Punto d'Interesse</h2>
}
else
{
    <h2>Modifica Attività Commerciale</h2>
}
    
<div class="form-horizontal col-md-6" >
    <hr />

    <input type="hidden" name="lat" id="lat" />
    <input type="hidden" name="lng" id="lng" />

    <div class="form-group">
        <p class="control-label col-md-2">Nome</p>
        <div class="col-md-10">
            <input type="text" name="Name" class="form-control" value="@Model.Name">
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Categoria Principale</p>
        <div class="col-md-10">
            <input type="text" name="PCat" class="form-control" value="@Model.PCat">
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Categoria Secondaria</p>
        <div class="col-md-10">
            <input type="text" name="SCat" class="form-control" value="@Model.SCat">
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Descrizione</p>
        <div class="col-md-10">
            <input type="text" name="Desc" class="form-control" value="@Model.Desc">
        </div>
    </div>
    <hr />

</div>

<input type="hidden" name="lat" id="lat" class="form-control">
<input type="hidden" name="lng" id="lng" class="form-control">

<div class="col-md-6" >
    <div id="map_container" style="min-height:350px;">

    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button class="btn btn-default btn-sm" onclick="updateLocation();">Salva Modifiche</button>
    </div>
</div>

<br />
<div>
    <hr />
    @Html.ActionLink("Le mie attività", "ManageLocations")
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/loginScript.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        var map;
        var marker;

        function initializeMap() {
            
            var lat = @Model.Lat
            var lng = @Model.Lng;

            var latlng = new google.maps.LatLng(lat, lng);
            var options = {
                zoom: 16, center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_container"), options);

            placeMarker(latlng);

            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
            });
        }

        function placeMarker(location) {
            document.getElementById('lat').value = location.A;
            document.getElementById('lng').value = location.F;

            if (marker != undefined) {
                marker.setMap(null);
            }

            marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }

        $(function () {
            initializeMap();
        });

        function updateLocation() {
            var obj = {
                "Name": $("[name='Name']").val(),
                "PCat": $("[name='PCat']").val(),
                "SCat": $("[name='SCat']").val(),
                "Lat": $("#lat").val(),
                "Lng": $("#lng").val(),
                "Desc": $("[name='Desc']").val()
            };

            $.ajax({
                url: '../../api/Locations/' + @Model.Id,
                type: 'PUT',
                data: obj,
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + getToken()); },
                success: function (result) {
                    window.location.replace("../ManageLocations");
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
        }

    </script>
}
