@model IEnumerable<GeoAdServer.Domain.Entities.DTOs.OfferingDTO>
@Scripts.Render("~/bundles/jquery")

<h2>Gestione Offerte @ViewBag.LocName</h2>


@if (Model.Count() > 0)
{
    <table class="table-bordered table-striped">
        <tr>
            <th class="text-center">
                ID Offerta
            </th>
            <th class="text-center">
                Descrizione
            </th>
            <th class="text-center">
                Inserimento
            </th>
            <th class="text-center">
                Scadenza
            </th>
            <th class="text-center">
                Modifica
            </th>
            <th class="text-center">
                Elimina
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td class="col-md-2">
                    @{
                        var date = new DateTime(1970, 1, 1);
                        date = date.AddMilliseconds(item.InsDateMillis);
                        @Html.Raw(date.ToString("yyyy-MM-dd"))
                    }   
                </td>
                <td class="col-md-2">
                    @{
                        var dateexp = new DateTime(1970, 1, 1);
                        dateexp = dateexp.AddMilliseconds(item.ExpDateMillis);
                        @Html.Raw(dateexp.ToString("yyyy-MM-dd"))
                    }
                    
                </td>
                <td class="col-md-1 text-center">
                    @Html.ActionLink(" ", "EditOffer", "Dashboard",
                        new { Id = item.Id, Desc = item.Desc, 
                            ExpDateMillis = item.ExpDateMillis, 
                            LocationId = item.LocationId},
                         new { @class = "glyphicon glyphicon-pencil", @style = "color:black; text-decoration:none;" })
                </td>
                <td class="col-md-1 text-center">
                    <span class="glyphicon glyphicon-trash delete" data-id="@item.Id" style="cursor:pointer;"></span>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h5>Non sono presenti offerte per questa attività commerciale</h5>
}

<hr />
<div>
    <div id="formNewOffer">

        <div class="form-group">
            <p class="control-label col-md-2">Descrizione</p>
            <div class="col-md-10">
                <textarea id="offDesc" style="width:100%; resize:none;" rows="6"></textarea>
            </div>
        </div>
        &nbsp;
        <div class="form-group">
            <p class="control-label col-md-2">Data Scadenza</p>
            <div class="col-md-10">
                <input type="date" id="offExpDate" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default btn-sm" onclick="addOffer();">Inserisci offerta</button>
            </div>
        </div>
    </div>
</div>

<hr />
@Html.ActionLink("Le mie attività", "ManageLocations", "Dashboard")

<script type="text/javascript" src="~/Scripts/loginScript.js"></script>
<script type="text/javascript">

    $(".delete").click(function () {
        var id = $(this).data("id");

        var r = confirm("Cancellare l'offerta " + id + "?");
        if (r == true) {
            $.ajax({
                url: '../../api/Offerings/' + id,
                type: 'DELETE',
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + getToken()); },
                success: function (result) {
                    window.location.reload();
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
        }
    });

    function addOffer()
    {
        var date = new Date($("#offExpDate").val());
        var milliseconds = date.getTime();

        var offerObj = {
            "LocationId": @ViewBag.LocId,
            "Desc": $("#offDesc").val(),
            "ExpDateMillis": milliseconds
        };

        $.ajax({
            url: '../../api/Offerings',
            type: 'POST',
            data: offerObj,
            beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + getToken()); },
            success: function (result) {
                window.location.reload();
            },
            error: function (error) {
                alert(error.responseText);
            }
        });
    }

</script>